<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gallery">
    <insert id="insertGallery" statementType="PREPARED"
            parameterType="seunghee.spring.mvc.Gallery.Gallery_VO">
        insert into Gallery (title, userid, contents, fnames, fsizes, uuid)
            values (#{title}, #{userid}, #{contents}, #{fnames}, #{fsizes}, #{uuid});
    </insert>

    <select id="selectList" statementType="PREPARED"
            parameterType="int"
            resultType="seunghee.spring.mvc.Gallery.Gallery_VO">
        select gno, title, userid, regdate, thumbs, views from Gallery
            order by gno desc limit #{stratnum}, 10
    </select>

    <select id="countGallery" statementType="PREPARED"
            resultType="int">
        select count(gno) from Gallery;
    </select>

    <select id="selectOne" statementType="PREPARED"
            parameterType="String"
            resultType="seunghee.spring.mvc.Gallery.Gallery_VO">
        select * from Gallery where gno = #{gno};
    </select>

    <update id="viewCount" statementType="PREPARED"
            parameterType="String">
        update Gallery set views = views + 1 where gno = #{gno};
    </update>

</mapper>