# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\승희\Programing2\Spring4Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
